{% extends "base.html" %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block content %}
        index | Login Page
        {% endblock %}
    </title>
</head>

<body>
    {% block body %}
    <div class="container">
        <form action="{{url_for('login')}}" method="post">
            <div class="form-group">
                <label for="username">Username</label>
                <!-- <input type="text" name="id" id="" value=""> -->
                <input type="text" name="username" id="" class="form-control" value="">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="text" name="password" id="" class="form-control" value="">
            </div>
            <br>
            
            <button type="submit" class="btn btn-success">login</button>
        </form>
    </div>
    {% endblock %}
</body>

</html>